2024 - 7 - 24

1446 ٱلْمُحَرَّم 18

Demographic Data Analyzer

In [1]:
import numpy as np
import pandas as pd

In [4]:
Data = pd.read_csv("adult.data.csv")
Data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Task 1 - Find the demographic data of the race distribution

In [12]:
Data['race'].describe()

count     32561
unique        5
top       White
freq      27816
Name: race, dtype: object

In [14]:
demographic_by_race = Data['race'].value_counts()
demographic_by_race

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

Task 2 - Find the average age of the male

In [31]:
male_avg_age = Data[Data['sex'] == 'Male']

In [34]:
f'the average age of the male is {round(male_avg_age['age'].mean(), 3)}'

'the average age of the male is 39.434'

Task 3 - Find the percentage of people with the bachelor's degree

In [57]:
bachelor_population = (Data['education'] == 'Bachelors').mean() * 100

np.float64(16.44605509658794)

In [60]:
print(f"Percentage of population with Bachelors degree is {round(bachelor_population, 3)}%")

Percentage of population with Bachelors degree is 16.446%

Task 4 - Find the percentage of people with bachelor's degree and above that makes 50k or more

In [66]:
Edu_B_above = Data[Data['education'].isin(['Bachelors', 'Masters' 'Doctorate'])]
Edu_B_above

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K

In [131]:
Edu_B_above_salary =  Edu_B_above[Edu_B_above['salary'] == '>50K']
Edu_B_above_salary['salary'].value_counts()

salary
>50K    2221
Name: count, dtype: int64

Task 5 - What is the minimum number of hours a person works per week?

In [133]:
Data['hours-per-week'].min()

np.int64(1)

Task 6 - What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [145]:
min_hours = Data['hours-per-week'].min()

min_hours_workers = Data[Data['hours-per-week'] == min_hours]
high_earners = min_hours_workers[min_hours_workers['salary'] == '>50K']

percentage = (len(high_earners) / len(min_hours_workers)) * 100

print(f"The percentage of people who work the minimum number of hours per week and have a salary of more than 50K is {percentage:.2f}%.")

The percentage of people who work the minimum number of hours per week and have a salary of more than 50K is 10.00%.

Task 7 - What country has the highest percentage of people that earn >50K and what is that percentage?

In [146]:
big_money_earners = Data[Data['salary'] == '>50K']

high_earners_per_country = big_money_earners['native-country'].value_counts()
total_people_per_country = Data['native-country'].value_counts()

percentage_high_earners = (high_earners_per_country / total_people_per_country) * 100

highest_percentage_country = percentage_high_earners.idxmax()
highest_percentage = percentage_high_earners.max()

print(f"The country with the highest percentage of people earning >50K is {highest_percentage_country} with {highest_percentage:.2f}%.")

The country with the highest percentage of people earning >50K is Iran with 41.86%.

Task 8 - Identify the most popular occupation for those who earn >50K in India.

In [160]:
india_high_earners = Data[(Data['salary'] == '>50K') & (Data['native-country'] == 'India')]
india_high_earners

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1327,52,Private,168381,HS-grad,9,Widowed,Other-service,Unmarried,Asian-Pac-Islander,Female,0,0,40,India,>50K
7258,42,State-gov,102343,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,72,India,>50K
7285,54,State-gov,93449,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
8124,36,Private,172104,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Other,Male,0,0,40,India,>50K
9939,43,Federal-gov,325706,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
10590,35,Private,98283,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,India,>50K
10661,59,Private,122283,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,99999,0,40,India,>50K
10736,30,Private,243190,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,20,India,>50K
11260,54,Private,225599,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7298,0,40,India,>50K
11384,34,Private,98283,Prof-school,15,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,1564,40,India,>50K
13422,53,Private,366957,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,50,India,>50K
13551,40,Private,220977,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,3103,0,40,India,>50K
13862,45,Private,209912,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16017,41,Private,207578,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,50,India,>50K
16778,43,Private,242968,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16923,41,Private,143003,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,7298,0,60,India,>50K
17259,57,Self-emp-inc,123053,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,15024,0,50,India,>50K
17834,29,Self-emp-not-inc,341672,HS-grad,9,Married-spouse-absent,Transport-moving,Other-relative,Asian-Pac-Islander,Male,0,1564,50,India,>50K
20417,42,Self-emp-inc,23510,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Male,0,2201,60,India,>50K
20465,39,Private,198654,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,2415,67,India,>50K
21128,30,Private,122889,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
23474,55,State-gov,120781,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
24154,46,Private,229737,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,India,>50K
25739,35,Self-emp-inc,79586,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
26305,27,Private,207352,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
26356,34,Private,99872,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,3103,0,40,India,>50K
27670,61,Private,80896,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,India,>50K
28264,51,Self-emp-not-inc,120781,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Other,Male,99999,0,70,India,>50K
28433,42,Private,198341,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1902,55,India,>50K
28452,53,Private,70387,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,4386,0,40,India,>50K
28557,34,Private,165737,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,43,India,>50K
28651,45,Self-emp-not-inc,216402,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
28798,30,Self-emp-not-inc,116666,Masters,14,Divorced,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,>50K
30111,41,Federal-gov,219155,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,India,>50K
30152,48,Private,119471,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
30833,25,Private,110978,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,37,India,>50K
31327,38,State-gov,125499,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7688,0,60,India,>50K
31357,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K

In [162]:
most_popular_job = india_high_earners['occupation'].max()
print(f'The most popular job in India is {most_popular_job}')

The most popular job in India is Transport-moving